{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block content %}
    {% if app.user %}
        {% set redirectUrl = path('app_home') %}
        <script>window.location.href = "{{ redirectUrl }}";</script>
    {% else %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post" class="card mt-5">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}


                        <div class="card-body">
                            <h1 class="card-title text-center">Se connecter</h1>
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-check mb-3">
                                <input type="checkbox" name="_remember_me" class="form-check-input">
                                <label class="form-check-label">Se souvenir de moi</label>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
