{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% if app.user %}
        {% set redirectUrl = path('app_home') %}
        <script>window.location.href = "{{ redirectUrl }}";</script>
    {% else %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h1 class="card-title text-center">S'enregistrer</h1>

                            {{ form_errors(registrationForm) }}

                            {{ form_start(registrationForm) }}
                            <div class="form-group">
                                {{ form_label(registrationForm.email, 'Email') }}
                                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-check">
                                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(registrationForm.agreeTerms, 'Accepter les termes', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mt-3">Créer mon compte</button>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
