{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block content %}
    <h1>Edit Reservation</h1>

    {{ include('admin/reservation_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_crud_index') }}">back to list</a>

    {{ include('admin/reservation_crud/_delete_form.html.twig') }}
{% endblock %}
