{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block content %}
    <h1>Liste des reservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro de reservation</th>
                <th>Jeux</th>
                <th>Utilisateur</th>
                <th>Réserver le</th>
                <th>État</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.getGame().getTitle() }}</td>
                <td>{{ reservation.getUser().getEmail() }}</td>
                <td>{{ reservation.reservedAt ? reservation.reservedAt|date('d-m-Y H:i') : '' }}</td>
                <td>
                    {% if reservation.returnAt %}
                        <span class="badge bg-success text-bg-secondary">Rendu</span>
                    le {{ reservation.returnAt|date('d-m-Y H:i') }}
                    {% else %}
                        <span class="badge bg-danger text-bg-secondary">Non Rendu</span>
                    {% endif %}
                <td>
                    <a href="{{ path('app_reservation_crud_edit', {'id': reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucune reservation</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_crud_new') }}">Ajouter une reservation</a>
{% endblock %}
