{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block content %}
    <h1>Edit Game</h1>

    {{ include('admin/game_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_game_crud_index') }}">back to list</a>

    {{ include('admin/game_crud/_delete_form.html.twig') }}
{% endblock %}
