{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block content %}
    <h1>Liste des jeux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre du jeux</th>
                <th>Date de sortie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.title }}</td>
                <td>{{ game.releasDate ? game.releasDate|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_game_crud_edit', {'id': game.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun jeu</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_game_crud_new') }}">Ajouter un jeux</a>
{% endblock %}
