{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block content %}
    <h1>Create new Game</h1>

    {{ include('admin/game_crud/_form.html.twig') }}

    <a href="{{ path('app_game_crud_index') }}">back to list</a>
{% endblock %}
