{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <!-- Container du profil de l'utilisateur -->
                <div class="container p-3">
                    <h3>Informations</h3>
                    <span>email: {{ user.getEmail() }}</span>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Container du tableau -->
                <div class="container p-3">
                    <h3>Liste des reservations</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Jeu</th>
                            <th scope="col">Date</th>
                            <th scope="col">État</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.getGame().getTitle() }}</td>
                            <td>{{ reservation.reservedAt ? reservation.reservedAt|date('d-m-Y H:i') : '' }}</td>
                            <td>
                                {% if reservation.returnAt %}
                                    <span class="badge bg-success text-bg-secondary">Rendu</span>
                                    le {{ reservation.returnAt|date('d-m-Y H:i') }}
                                {% else %}
                                    <span class="badge bg-danger text-bg-secondary">Non Rendu</span>
                                {% endif %}
                            <td>
                                <a href="{{ path('app_return_reservation', {'id':reservation.getId()}) }}" class="btn btn-primary {% if reservation.returnAt %} disabled {% endif %}">Rendre</a>
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">aucune reservation</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
