{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
<ul>
    <li><a href="{{ path('app_publisher_crud_index') }}">gestion des éditeurs</a> </li>
    <li><a href="{{ path('app_category_crud_index') }}">gestion des catégories</a> </li>
    <li><a href="{{ path('app_game_crud_index') }}">gestion des jeux</a> </li>
    <li><a href="{{ path('app_user_crud_index') }}">gestion des utilisateurs</a> </li>
    <li><a href="{{ path('app_reservation_crud_index') }}">gestion des reservations</a> </li>
</ul>
{% endblock %}
