{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>Edit User</h1>

    {{ include('admin/user_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_crud_index') }}">back to list</a>

    {{ include('admin/user_crud/_delete_form.html.twig') }}
{% endblock %}
