{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
    <h1>Create new User</h1>

    {{ include('admin/user_crud/_form.html.twig') }}

    <a href="{{ path('app_user_crud_index') }}">back to list</a>
{% endblock %}
