{% extends 'base.html.twig' %}
{% block title %}Catalogue{% endblock %}
{% block content %}

    <div class="container mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item"><a href="/games">Jeux</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ game.getTitle() }}</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-start mt-5">
            <div class="me-5">
                <img src="{{ asset('images/cover/' ~ game.getTitle()|lower|replace({' ': '', "'": "", ":": ""}) ~ '.webp') }}
" width="450" alt="{{ game.getTitle() }}">
            </div>
            <div>
                <h2>{{ game.getTitle() }}</h2>
                <p class="mb-1">Date de sortie: {{ game.getReleasDate()|date('d-m-Y') }}</p>
                <p class="mb-1">Éditeur: {{ game.getpublisher().getName() }}</p>
                <p class="mb-4">Pegi {{ game.getPegi() }}</p>
                <p>Catégories:
                    {% for categorie in game.getCategory() %}
                        <span class="badge text-bg-secondary"><a href="{{ path('app_category', {"id":categorie.getId()}) }}" style="color: white; text-decoration: none">{{ categorie.getName() }}</a></span>
                    {% endfor %}
                </p>

                {% if app.user and "ROLE_USER" in app.user.getRoles() %}
                    {% if not reserved %}
                        <a href="{{ path('app_send_reservation', {'id': game.getId()}) }}" class="btn btn-primary mt-5">Reserver</a>
                    {% else %}
                        <p class="text-warning">ce jeux est déjà réserver</p>
                        {% endif %}
                {% else %}
                    <p class="text-warning">Connectez vous pour réserver ce jeux</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}