{% extends 'base.html.twig' %}
{% block title %}Catalogue{% endblock %}
{% block content %}
    <style>
        .game-card {
            margin-bottom: 20px;
        }
    </style>
    <div class="container">
        <h1 class="mt-5 mb-4">Notre {{ block('title') }}</h1>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4">
            {% for game in games %}
                <div class="col">
                    <div class="">
                        <a class="" href="{{ path('game_detail', {'id':game.getId()}) }}">
                        <img src="{{ asset('images/cover/' ~ game.getTitle()|lower|replace({' ': '', "'": "", ":": ""}) ~ '.webp') }}" height="350" width="250"  alt="{{ game.getTitle() }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
