.custom-carousel-image {
    width: 50%; /* Réduit la largeur de l'image de moitié */
    height: auto; /* Garde le ratio hauteur/largeur */
    margin: 0 auto; /* Centre l'image horizontalement */
}

/* Profile Picture */
.profile-pic{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.profile-menu .dropdown-menu {
    right: 0;
    left: unset;
}
.profile-menu .fa-fw {
    margin-right: 10px;
}

.toggle-change::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}