{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block content %}
    <h1>Edit Category</h1>

    {{ include('admin/category_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_category_crud_index') }}">back to list</a>

    {{ include('admin/category_crud/_delete_form.html.twig') }}
{% endblock %}
