{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block content %}
    <h1>Create new Category</h1>

    {{ include('admin/category_crud/_form.html.twig') }}

    <a href="{{ path('app_category_crud_index') }}">back to list</a>
{% endblock %}
