{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-5">Bienvenue dans la Ludothèque</h1>
        <h2 class="text-center mb-3">Nos derniers jeux</h2>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for game in games %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <a href="{{ path('game_detail', {'id':game.getId()}) }} ">
                                    <img src="{{ asset('images/cover/' ~ game.getTitle()|lower|replace({' ': '', "'": "", ":": ""}) ~ '.webp') }}"
                                                class="d-block custom-carousel-image" alt="{{ game.getTitle() }}"></a>
                            </div>
                            
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}