{% extends 'base.html.twig' %}

{% block title %}Edit Publisher{% endblock %}

{% block content %}
    <h1>Edit Publisher</h1>

    {{ include('admin/publisher_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_publisher_crud_index') }}">back to list</a>

    {{ include('admin/publisher_crud/_delete_form.html.twig') }}
{% endblock %}
