{% extends 'base.html.twig' %}

{% block title %}Publisher index{% endblock %}

{% block content %}
    <h1>Liste des éditeurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Pays</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for publisher in publishers %}
            <tr>
                <td>{{ publisher.name }}</td>
                <td>{{ publisher.country }}</td>
                <td>
                    <a href="{{ path('app_publisher_crud_edit', {'id': publisher.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_publisher_crud_new') }}">Ajouter un éditeur</a>
{% endblock %}
