{% extends 'base.html.twig' %}

{% block title %}New Publisher{% endblock %}

{% block content %}
    <h1>Create new Publisher</h1>

    {{ include('admin/publisher_crud/_form.html.twig') }}

    <a href="{{ path('app_publisher_crud_index') }}">back to list</a>
{% endblock %}
